@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root{
    --primary-color: #FF206E;
    --secondary-color: #41EAD4;
    --accent1-color: #FBFF12;
    --accent2-color: #FFFFFF;
    
    --heading-font: '______', Roboto;
    --paragraph-font: '______', Open Sans;
    
    --nav-background-color: #FFFFFF;
    --nav-link-color: #FF206E;
    --nav-hover-link-color: #41EAD4;
    --nav-hover-background-color: #FFFFFF;
}
body{
    max-width: 960px;
    padding: 20px;
}
 h1, h2, h3, h4, h5, h6{
   font-family: var(--heading-font);
   color: var(--primary-color);
}
header{
   padding: 20px;
   background-color: var(--accent2-color);
}
p{
   padding: 25px;
}
nav{
   background-color: var(--nav-background-color);
   font-size: 1.2rem;
   display: flex;
}
nav a{
   display: block;
   color: var(--nav-link-color);
   text-decoration: none;
   padding: 1rem;
}
nav a:link, nav a:visited{
   color: var(--nav-link-color);
}
nav a:hover{
   color: var(--nav-hover-link-color);
   background-color: var(--nav-hover-background-color);
}
.hero{
    display: grid;
    gap: 25px;
    margin: 9px auto;
	position: relative;
}
.herogrid{
    display: grid;
}
.hero h1{
    position: absolute;
	top:10px;
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0,0,0,.2);
    background-color: #1b0b0b4f;
    color: white;
	box-shadow: 0 0 30px #917e7e;
	opacity: 1;
    text-align: center;
}
.hero article{
    position: absolute;
    top: 60px;
    right: 70px;
    width: 85%;
    margin:0;
    border: 1px solid rgba(233, 249, 13, 0.159);
    background-color:#9a35356c;
    color: white;
	box-shadow: 0 0 30px #5e5d5d;
    text-align: center;
}
.hero article img{
    float: right;
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero section{
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.historygrid{
    display: grid;
    justify-content: space-around;
}
.history{
    display: flex;
    grid-template-columns: 2.5fr 1fr 2.5fr;
    justify-content: space-around;
}
.history img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
}
.adventuregrid{
    display: grid;
    justify-content: space-around;
}
.adventuregrid div{
    display: flex;
}
figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
figure img{
    max-width: 220px;
    max-height: 150px;
}
figcaption {
    background-color: white;
    color: black;

    padding: 3px;
    text-align: center;
}
header, .hero, footer{
    margin: 0 auto;
}
.headergrid{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.reference{
    display: flex;
    align-self: center;
}
.footergrid{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.footergrid p{
    justify-self: flex-end;
}
.sociallinks{
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    align-items: center;
}
.sociallinks img{
    width: 25px;
}